@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.top-category {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 150px;
  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  span {
    font-size: 18px;
    font-weight: 600;
  }
  .top-wrapper {
    display: flex;
    width: 1200px;
    margin: 60px auto;
    flex-direction: column;
  }
  .title {
    margin-bottom: 20px;
  }
  .arias {
    display: flex;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
  }

  button {
    @include primary-button($primary-color);
    margin: 5px;
  }
}

.bottom-category {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  .trainers-container {
    width: 25%;
    background-color: black;
    color: white;
    padding: 20px;
  }
  .training-description {
    width: 75%;
    padding: 40px;
    box-sizing: border-box;

  }

  span {
    font-size: 24px;
  }
  p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
  }
  ul li {
    padding: 10px 0;
    a {
      color: #ffffff;
    }
  }
}
