@mixin primary-button($bg) {
  align-self: flex-start;
  background-color: $bg;
  border: 2px solid;
  border-radius: 25px;
  min-width: 200px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}
