@import '../../../../styles/variables';
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 40px;
  li {
    padding: 10px;
    a {
      text-decoration: none;
    }
  }
}
header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  ul {
    display: flex;
    flex-direction: row;
    li a {
      color: black;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        text-decoration: underline;
      }
    }
  }
  .account {
    display: flex;
    justify-content: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
}

.menuClass {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  &:hover {
    background-color: #373f52;
    color: white;
    transition: all 300ms ease;
  }
}
