@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.yellow-container {
  background-color: $primary-color;
  width: 70%;
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 150px;
  padding: 50px 0;

}

.presentation-container {
  width: 69%;
  display: flex;
  flex-direction: column;
  span {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 600;
    transform: rotate(30deg);
}
  .presentation-description {
    margin: 30px 0;
    font-weight: 600;
    line-height: 1.4;
}
  h1 {
    font-size: 90px;
    font-weight: 700;
}
  button {
    @include primary-button($primary-color);
}

}
